[submodule "packages/contract/lib/openzeppelin-contracts"]
	path = packages/contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contract/lib/openzeppelin-contracts-upgradeable"]
	path = packages/contract/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
