@import "tailwindcss";


.btn-blue {
  @apply px-1 bg-blue-500 text-white  rounded;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-blue:active {
  @apply bg-blue-500;

}

.btn-blue:disabled {
  @apply bg-gray-400 text-white opacity-50 cursor-not-allowed border border-white;
}

.btn-pink {
  @apply m-0 px-1 py-0 bg-pink-500 text-white ;
}

.btn-pink:hover {
  @apply bg-pink-700;
}

.btn-pink:active {
  @apply bg-pink-500;
}

.btn-pink.deactivated {
  @apply bg-gray-400 text-white ;
}

.btn-pink:disabled {
  @apply bg-gray-400 text-white opacity-50 cursor-not-allowed border border-white;
}